/* Apply the 'Rubik' font family to the entire body of the document */
body {
  font-family: 'Rubik', sans-serif;
}

/* Apply the 'Rubik Mono One' font family to all heading tags (h1 through h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

/* Style elements with the 'small' class to have a lighter font weight and italic style */
.small {
  font-weight: 300; /* Light font weight */
  font-style: italic; /* Italicize the text */
}
